.LogoTop
{
	width: 960px;
	height: 180px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	
	margin-top: 5px;
	margin-bottom: 0px;
	margin-right: 0px;
	margin-left: 2px;
	background-color: #f0f0f0;	 
	//background-image: linear-gradient( #111 ,#f4f4f4);
	background-image: url(../img/LOGO.png);
	background-repeat:no-repeat;
	background-position:center;
	float: right;
	border-radius: 5px;
	
}



.UnitLeft
{
	width: 600px;
	height: 180px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	
	margin-top: 5px;
	margin-bottom: 0px;
	margin-right: 0px;
	margin-left: 0px;
	
	background-color: #111;
	background-image: linear-gradient(  #111 ,#f4f4f4);
	
	float: left;
	border-radius: 5px;
}

body
{	
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	
	margin-top: 0px;
	margin-bottom: 0px;
	margin-right: 0px;
	margin-left: 0px;
	
	width : 100%;
	height : 100%;
	
	//background-color: #3fb032;
	//background-image: url(../resource/body-bg7.png);
	background : #f3f4f5 none repeat scroll 0 0;
	//background-repeat:no-repeat;
	//background-position:center;
	//background-size:cover;
}

.fullHeader
{
	width: auto;
	height: auto;
	float : none;
	background-color: #bbbbbb;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-right: 0px;
	margin-left: 0px;
	text-align:left;
	font-weight:bold;
	clear:both;
	min-width: 781px;
	/* box-shadow: 0px 0px 9px rgba(0,100,100,0.65); */
	background-image: linear-gradient( #505050 ,#f0f0f0);	
}

.fullArticle
{
	width: 100%;
	float : none;
	background-color: #f0f0f0;
	clear:both;
	min-width: 782px;
	//overflow: auto;
	height : 100%;
	//min-height: 100%;
        position:relative;
}

.fullFooter
{
	background-color: #a0a0a0;
	clear: both;
	height: 75px;
	margin-top: 10px;
	padding-top: 5px;
	position: relative;
	width: 100%;
	border-top-width: 3px;
	border-style: double none none;
}

.container
{
     width: 850px;
     margin: 0 auto ;
     background-color: #a0a0f1; 
}

#container {
   min-height:100%;
   position:relative;
}
.mrgAuto 
{
	width: 960px;
	margin: 0 auto ;
	margin-top: 0px;
	padding-right : 5px;
	padding-left : 5px;	
	position: relative;
}


.para
{
	clear:both;
}

.productBox
{
	width : 212px;
	float : left;
	border : 0px solid black;
	margin: 55px 2px 20px 22px;
	padding-top : 15px;
	padding-bottom : 5px;
	text-align : center;
	direction : rtl;
	background-color : #eaeaea;
	font-family :  IRANSans-Bold ;
	border-radius : 10px;
	box-shadow : 0 1px 4px rgba(0,0,0,.2);
	margin-bottom : 20px;
}

.productTitle
{


}

h2
{
	/* padding-top : 0.5em; */
	margin-bottom : 5px;
	color: #777;
	font-weight: bold;
}

a
{
	outline: medium none;
	cursor: pointer;
	text-decoration: none;
	color: #5500;
}


.description 
{
	font-size: 12px;
	padding-right : 2px;
	overflow: hidden;
	height: 44px;
	color: #a0a000;
}

.productTitle  h2 {
	color: #777;
	font-weight: normal;
	font-family:  IRANSans-Bold ; /* B Yekan,"B Yekan",tahoma; */
	font-size: 21px;
}

.button_Detail
{
	height: 18px;
	padding-right: 12px;
	padding-top: 3px;
	margin: 0px auto;
	color: #FFF;
	font-size: 12px;
	background-image: url("../img/detail-button-bg.jpg");
	border-radius: 2px;
	font-family:  B Yekan,tahoma;
	line-height: 1.3;
	text-align: right;
	padding-left: 27px;
}

.copyrights
{
	font-family:  IRANSans-Bold ; /* B Yekan,"B Yekan",tahoma; */
	font-size: 12px;
	text-align: center;
	direction: rtl;
	/* background: none repeat scroll 0% 0% #EDEDED; */
	text-align: center;
	/* padding: 20px 0px; */
	/* border-bottom: 1px solid #CDCDCD;
	border-top: 1px solid #CDCDCD; */
	height: auto;
	width : 320px;
	margin : 0 auto;
	
}

.center
{
	text-align: right;
	clear : both;
	text-color : ffffff;
	margin : 0px;
	
}

.post-title
{
	text-align: right;
	direction : rtl;
	padding-right : 5px;
	border-bottom : 4px solid #a0a033;
	width : 850px;
	margin : 0 auto;
	padding-top : 15px;
	margin-bottom : 50px;
	
}

.content-main
{
	direction: rtl;
	font-family:  IRANSans-Bold ;
	margin-top : 20px;
	border : none;
	padding : 10px;
	border-radius : 10px;
	background-color : #eaeaea;
	box-shadow : 0 1px 4px rgba(0,0,0,.2);
	margin-bottom : 10px;
}
.holder
{
	clear : both;
	margin: 0px auto;
	width : 960px;
}
.content-main  p
{
	margin-top : 30px;  
}

/* Widgets Styles */ 
*{ padding:0; margin:0;	outline:none; list-style:none; border: 0 none;}

body 
{
	font-family: 'BYekan',Tahoma,Arial,Verdana,sans-serif;
	font-size: 15px;
}

h1, h2, h3,h4, h5, h6 { font-weight:Normal ;font-family: 'BYekan',Tahoma,Arial,Verdana,sans-serif;}

.alignright {float: right;}
.alignleft {float: left;}
.aligncenter{clear:both; margin-left:auto;	margin-right:auto;}

a {
  color: #444;
  text-decoration: none;
  -webkit-transition: all ease-in-out 0.2s;
  -moz-transition: all ease-in-out 0.2s;
  -o-transition: all ease-in-out 0.2s;
  transition: all ease-in-out 0.2s;
}
a:hover { color: #000;}
.clear {clear: both;}

/* SearchBar ---------------------------------------------------------- */
	.search-block #s {
	background: transparent;
	float: right;
	font: normal 11px tahoma;
	padding: 6px 12px 8px 12px;
	width: 90px;
	color: #C5C5C5;
	border: 0 none;
	-o-transition: width .7s , color .4s;
	-webkit-transition: width .7s , color .4s;
	-moz-transition: width .7s , color .4s;
	transition: width .7s , color .4s;
	}
	
	
	.search-block .search-button {
	background: transparent url(../img/search-button.png) no-repeat left center;
	cursor: pointer;
	float: right;
	height: 25px;
	width: 20px;
	display: block;
	border: 0 none;
	opacity: 0.7;
	-o-transition: opacity .4s;
	-webkit-transition: opacity .4s;
	-moz-transition: opacity .4s;
	transition: opacity .4s;
	}
	
	form {
	display: block;
	margin-top: 0em;
	}
	
	.search-block {
	height: 25px;
	overflow: hidden;
	float: right;
	position: absolute;
	left: 10px;
	top: 24px;
	background: #fcfcfc;
	border: 1px solid #ddd;
	border-top-color: #d1d1d1;
	border-left-color: #d1d1d1;
	border-radius: 20px;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	overflow: hidden;
	-moz-box-shadow: inset 0 2px 5px #eee;
	-webkit-box-shadow: inset 0 2px 5px #eee;
	box-shadow: inset 0 2px 5px #eee;
	direction: rtl;
	text-align: right;
	}
	
	.search-block:hover .search-button, .search-block:hover #s {
	opacity: 1;
	color: #444;
	}
	
	
	
	.search-block #s:focus {	color:#000;	width:150px; border: none}
	.search-block:hover .search-button,
	.search-block:hover #s {	opacity:1;	color:#444;}
	.search-block .search-button:active {}
	header .social-icons{ position: absolute; right:10px; top:24px;}
	header .social-icons a , .footer-bottom .social-icons a{filter: url(css/filters.svg#grayscale); filter: gray;	-webkit-filter: grayscale(1);opacity:0.6;}
	header .social-icons a:hover ,.footer-bottom .social-icons a:hover{	filter: none;	-webkit-filter: grayscale(0);	opacity:1;}
	
/* SearchBar  */


/* Footer =====================================================================================*/
	
	footer a{color: #ccc;}
	footer a:hover{color: #FFF;}
	
	.footer-widgets-box {
    height: inherit;
    position: relative;
    overflow: auto;
}
	
	
	.footer-widget-container li {
	padding: 6px 0;
	line-height: 18px;
	overflow: hidden;
	border-bottom: 1px solid #232323 !important;
	border-top: 1px solid #444;
	}
	
	.footer-widget-container ul {
	border-bottom: 1px solid #444;
	}
	
	.footer-widget-top 
	{
	border-bottom: 3px solid #666;
	padding: 10px 0;
	}
	
	.footer-widget-container li {
	//padding: 6px 0;
	line-height: 18px;
	overflow: hidden;
	border-bottom: 1px solid #232323 !important;
	border-top: 1px solid #444;
	}
	

    footer
    {
	direction: rtl;
	text-align: right;
	width : 964px;
	margin : 0 auto;	
	position:relative;
	z-index:1;
	color: #ddd;
	background:#333;
	text-shadow: 0 0 1px #000;
	padding:20px 0;
	//margin-top:20px;
	-webkit-box-shadow: 0 -5px 0 rgba(0, 0, 0, .1);
	-moz-box-shadow: 0 -8px 0 rgba(0, 0, 0, .1);
	//box-shadow: 0 -8px 0 rgba(0, 0, 0, .1);	
	//border: 2px solid #BFBFBF;
	margin-top : 3px;	
	position: relative;
    }

    .widget_rss
    {
        border : dotted;
        border-color:#666;
        float : right;
        padding : 15px ;
        margin-right : 30px;
        margin-left : 10px;
        padding-bottom: 20px;
        border-radius: 5px;
        width: 240px;
    }
/* End Widgets Styles */
